= render({:partial => 'shared/errors', :object => @credentials})
= form_for(@credentials, :url => sessions_path) do |f|
  %fieldset
    %legend
      = t(".legend")
    %ol
      %li
        = f.label(:email_address)
        = f.email_field(:email_address, :required => true)
      %li
        = f.label(:password)
        = f.password_field(:password, :required => true)
    = f.submit(t(".commit"), :data => {:disable_with => t(".commit_disable")})
