//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.

-#- This Source Code Form is subject to the terms of the Mozilla Public
-#- License, v. 2.0. If a copy of the MPL was not distributed with this
-#- file, You can obtain one at http://mozilla.org/MPL/2.0/.

= render({:partial => "shared/errors", :object => @user})
= form_for(@user) do |u|
  %fieldset
    %legend= t(".legend")
    %ol
      %li
        = u.label(:name)
        = u.text_field(:name, :required => true)
      %li
        = u.label(:email_address)
        = u.email_field(:email_address, {:required => true, :placeholder => "example@domain.com", :disabled => @user.system})
      %li
        = u.label(:phone_number)
        = u.telephone_field(:phone_number, {:placeholder => "2223334444", :size => 10, :maxlength => 10})
      %li
        = u.fields_for(:user_roles) do |ur|
          = ur.label(:role_id)
          = ur.select(:role_id, options_from_collection_for_select(Authentication::Role.all, :id, :desc, :selected => @user.user_roles.first.role_id), {}, :disabled => @user.system)
      %li
        = u.label(:password)
        = u.password_field(:password)
      %li
        = u.label(:password_confirmation)
        = u.password_field(:password_confirmation)
  %fieldset
    = link_to(t(".cancel"), users_path, :class => "button")
    = u.submit(t(".commit"), :disable_with => t(".commit_disable"))