-#- This Source Code Form is subject to the terms of the Mozilla Public
-#- License, v. 2.0. If a copy of the MPL was not distributed with this
-#- file, You can obtain one at http://mozilla.org/MPL/2.0/.

= content_tag_for(:tr, user, :class => "item") do
  %td= user.name

  %td= mail_to(user.email_address)

  %td
    - if !user.updated_at.nil?
      = l(user.updated_at)

  %td
    = link_to( |
        t(".edit_link"), |
        edit_user_path(user), |
        :class => "button")

    - if not user.system
      = link_to( |
          t(".destroy_link"), |
          user_path(user), |
          {:confirm => t(".destroy_confirmation"), :data => {:disable_with => t(".destroy_disable")}, :method => :delete, :class => "button"})
