= content_tag_for(:tr, user, :class => "item") do

  %td= link_to(user.name, edit_user_path(user))

  %td= mail_to(user.email_address)

  %td= l(user.updated_at)

  %td
    = link_to( |
      t(".destroy_link"), |
      user_path(user), |
      {:confirm => t(".destroy_confirmation"), :disable_with => t(".destroy_disable"), :method => :delete, :class => "button"})
