= content_for(:actions) do
  = link_to(t(".new_link"), new_user_path, :class => "button")

- if @users.empty?
  = t(".no_users")
- else
  = render("table")

- content_for(:footer) do
  = will_paginate(@users)
