-#- This Source Code Form is subject to the terms of the Mozilla Public
-#- License, v. 2.0. If a copy of the MPL was not distributed with this
-#- file, You can obtain one at http://mozilla.org/MPL/2.0/.

= content_tag_for(:tr, role, :class => "item") do
  %td= role.name

  %td= role.desc

  %td= l(role.updated_at)

  %td
    = link_to( |
        t(".edit_link"), |
        edit_role_path(role), |
        :class => "button")

    - if not role.system
      = link_to( |
          t(".destroy_link"), |
          role_path(role), |
           {:confirm => t(".destroy_confirmation"), :data => {:disable_with => t(".destroy_disable")}, :method => :delete, :class => "button"})
