= content_tag_for(:tr, role, :class => "item") do
  %td= link_to(role.name, edit_role_path(role))

  %td= role.desc

  %td= l(role.updated_at)

  %td
    = link_to( |
      t(".destroy_link"), |
      role_path(role), |
       {:confirm => t(".destroy_confirmation"), :disable_with => t(".destroy_disable"), :method => :delete, :class => "button"})
