= render('form')

%fieldset
  %legend= t(".legend")
  %ol
    %li
      %span.label= t(".created_at")
      = l(@role.created_at)
    %li
      %span.label= t(".updated_at")
      = l(@role.updated_at)