= content_for(:actions) do
  = link_to(t(".new_link"), new_role_path, :class => "button")

- if @roles.empty?
  = t(".no_roles")
- else
  = render("table")

- content_for(:footer) do
  = will_paginate(@roles)
